body {
    font-family: Arial, sans-serif;
    background-color: #e9e9e9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: slide-up 1s ease-out;
    animation-fill-mode: forwards;
}

.left-panel,
.right-panel {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-panel {
    position: relative;
    background-color: #166534;
    color: white;
    overflow: hidden;
}

.left-panel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.7);
}

.text-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
}

.text-container button {
    background: none;
    border: 2px solid transparent;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px 0;
}

.text-container .active {
    background-color: white;
    color: #147e06;
    border-radius: 40px 0px 0px 40px;
    padding: 10px 20px;
}

.text-container button:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.1);
}

.right-panel {
    background-color: #f9f9f9;
}

.form-container {
    width: 100%;
    max-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #166534;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #279239;
}

.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.hidden {
    display: none;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }

    .text-container {
        position: relative;
        transform: none;
        margin-top: 20px;
    }

    .left-panel {
        height: 50vh;
    }

    .right-panel {
        height: auto;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    input,
    button {
        font-size: 0.9rem;
    }

    .text-container button {
        font-size: 1rem;
        padding: 8px 16px;
    }

    .text-container h1 {
        font-size: 1.2rem;
    }
}
